*{
    padding: 0;
    margin: 0;
}

body {
    background-color: black ;
}
.main{
    height: 80vh;
    background-image: url(images/net.jpg);
    position: relative;
    background-size: max(1200px 100vw);
    background-position: center center;
    background-repeat: no-repeat ;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}
nav span img{
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    height: 520px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 12px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}


.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 56px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.inp input {
    
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 366.75px;
    height: 26px;
    font-size: 16px;
    
    border: 2px solid rgb(231, 226, 226, 0.5) ;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.1);
    color: white;
}

.inp button {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    margin-left: 8px;
    width: 213.25px;
    height: 56px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 24px;
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    font-size: 16px;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 20px;
    font-weight: 400;
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    background-color: rgba(23, 23, 23, 0.1);
    color: white;
    border: 2px solid rgb(231, 226, 226, 0.5);
    cursor: pointer;
      
}

.btn-red{
        background-color: red;
        color: white;
        font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
        font-size: 14px;
        line-height: 14px;
        font-weight: 500;
        padding: 8px;
        width: 75px;
        border-radius: 7px;
    }

.trending-section {
    background-color: black;
    color: white;
    padding: 60px 30px 40px;
    position: relative;
    z-index: 1;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    

/* TOP CURVED GRADIENT */
.trending-section::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 5%;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #c24363, #6142eb);
    border-bottom-left-radius: 50% 40px;
    border-bottom-right-radius: 50% 40px;
}
    z-index: -1;
}

.card{
    width: 197px;
    height: 276px;
    margin-top: 90px;
    margin-left: 11%;
    background-image: url(images/mov1.jpg);
    border-radius: 8px;
   
}


.card1{
    width: 197px;
    height: 276px;
    margin-top: -276px;
    margin-left: 27%;
    background-image: url(images/mov2.jpg);
    border-radius: 8px;
}

.card2{
    width: 197px;
    height: 276px;
    margin-top: -276px;
    margin-left: 43%;
    background-image: url(images/mov3.jpg);
    border-radius: 8px;
}

.card3{
    width: 197px;
    height: 276px;
    margin-top: -276px;
    margin-left: 59%;
    background-image: url(images/mov4.jpg);
    border-radius: 8px;
}

.card4{
    width: 197px;
    height: 276px;
    margin-top: -276px;
    margin-left: 75%;
    background-image: url(images/mov5.jpg);
    border-radius: 8px;
}

.mov1{
    width: 290px;
    height: 256px;
    margin-top:10.55% ;
    margin-bottom: 5%;
    margin-left: 70%;
    border-radius: 15px;
    background-color: #25193f;
}

.mov1 h1{
    color:rgb(255, 255, 255);
    padding: 8%;
    font-size: 24px;
    font-weight: 500;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.mov1 p {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    
}

.mov2{
    width: 290px;
    height: 256px;
    margin-top: -21.55%;
    margin-bottom: 5%;
    margin-left: 50%;
    border-radius: 15px;
    background-color: #25193f;
}

.mov2 h1{
    color:rgb(255, 255, 255);
    padding: 8%;
    font-size: 24px;
    font-weight: 500;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.mov2 p {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    
}

.mov3{
    width: 290px;
    height: 256px;
    margin-top: -21.55%;
    margin-bottom: 5%;
    margin-left: 30%;
    border-radius: 15px;
    background-color: #25193f;
}

.mov3 h1{
    color:rgb(255, 255, 255);
    padding: 8%;
    font-size: 24px;
    font-weight: 500;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.mov3 p {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    
}

.mov4{
    width: 290px;
    height: 256px;
    margin-top: -21.55%;
    margin-bottom: 5%;
    margin-left: 10%;
    border-radius: 15px;
    background-color: #25193f;
}

.mov4 h1{
    color:rgb(255, 255, 255);
    padding: 8%;
    font-size: 24px;
    font-weight: 500;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.mov4 p {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    
}
.new h1{
    color: white;
    margin-left: 10%;
}

.box1 {
  display: flex;
  justify-content: space-between; /* text left, icon right */
  align-items: center;
  width: 79%;
  height: 70px;
  background-color: #414141;
  margin: 10px auto;
  padding: 0 20px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.box1 p {
  margin: 0;
}



.box2 {
  display: flex;
  justify-content: space-between; /* text left, icon right */
  align-items: center;
  width: 79%;
  height: 70px;
  background-color: #414141;
  margin: 10px auto;
  padding: 0 20px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.box2 p {
  margin: 0;
}

.box3 {
  display: flex;
  justify-content: space-between; /* text left, icon right */
  align-items: center;
  width: 79%;
  height: 70px;
  background-color: #414141;
  margin: 10px auto;
  padding: 0 20px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.box3 p {
  margin: 0;
}
.box4 {
  display: flex;
  justify-content: space-between; /* text left, icon right */
  align-items: center;
  width: 79%;
  height: 70px;
  background-color: #414141;
  margin: 10px auto;
  padding: 0 20px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.box4 p {
  margin: 0;
}
.box5 {
  display: flex;
  justify-content: space-between; /* text left, icon right */
  align-items: center;
  width: 79%;
  height: 70px;
  background-color: #414141;
  margin: 10px auto;
  padding: 0 20px;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

.box5 p {
  margin: 0;
}

.inpu input {
    
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 366.75px;
    height: 26px;
    font-size: 16px;
    margin-left: 30%;
    margin-top: 20%;
    border: 2px solid rgb(231, 226, 226, 0.5) ;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.1);
    color: white;
}

.inpu button {
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    margin-left: 60%;
    margin-top: -50%;
    width: 213.25px;
    height: 56px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    line-height: 24px;
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
